<html>
<head>
    <title>
        Human genome assembly active operations
    </title>
</head>
<body>
<h1>ACTIVE OPERATIONS ON THE DATASET</h1>

<ul>

    <li>Get basic informations about the Human genome assembly dataset <a target='_blank' href="/basicInfo">here</a></li>
    <li>Obtain the list of unique sequence IDs available in the dataset <a target='_blank' href="/uniqueID">here</a></li>
    <li>Obtain the list of unique type of operations available in the dataset <a target='_blank' href="/uniqueType">here</a></li>
    <li>Count the number of features provided by the same source <a target='_blank' href="/countSource">here</a></li>
    <li>Count the number of entries for each type of operation <a target='_blank' href="/countType">here</a></li>
    <li>Derive a new dataset containing only the information about entire chromosomes <a target='_blank' href="/chromosome">here</a></li>
    <li>Calculate the fraction of unassembled sequences from source GRCh38 <a target='_blank' href="/unassembledsq">here</a></li>
    <li>Obtain a new dataset containing only entries from source ensembl , havana and ensembl_havana <a target='_blank' href="/onlyhavensbl">here</a></li>
    <li>Count the number of entries for each type of operation for the dataset containing containing only entries from source ensembl , havana and ensembl_havana <a target='_blank' href="/counthavensbl">here</a></li>
    <li>Return the gene names from the dataset containing containing only entries from source ensembl ,havana and ensembl_havana <a target='_blank' href="/havensblGeneNames">here</a></li>
</ul>
</body>
</html>