<html>
<head>
    <title>
        Human genome assembly
    </title>
</head>
<body>
<h1>ADVANCED PROGRAMMING PROJECT</h1>
<p>The aim of these project was to implement a software able to read and analyse the "Homo_sapiens.GRCh38.85.gff3" file</p>
<p>To learn more about this software purpose, analysis and design click <a target='_blank' href="/documentation">here</a></p>
<p>To see possible operations that can be performed on this dataset click <a target='_blank' href="/active_op">here</a></p>

</body>
</html>
