<html>
        <head>
            <title> ANNOTATION</title>
        </head>
        <body>
            <h1> This is a web page to view and analyse gff3 files </h1>
            Upload a file from your computer
            If u don't download any file the file Homo_sapiens.GRCh38.85.gff3 about Human Genome annotation will be taken into consideration
            <form name = 'fileForm' id = 'fileForm' method=post enctype=multipart/form-data>
                <input type=file id=dsFile name=dsFile accept=".gff3">
                <input type=submit value=Upload>
            </form>

        </body>
</html>