<html>
        <head>
            <title> ANNOTATION</title>
        </head>
        <body>
            <h1> This is a web page to view and analyse gff3 files </h1>
            Upload a file from your computer
            If u don't download any file the file Homo_sapiens.GRCh38.85.gff3 about Human Genome annotation will be taken into consideration
            <form name = 'fileForm' id = 'fileForm' method=post enctype=multipart/form-data>
                <input type=file id=dsFile name=dsFile accept=".gff3">
                <input type=submit value=Upload>
            </form>

        </body>
</html>


#button for getting basic info
    <li><form method="POST" action="/">
        <input type="submit" value="get basic informations about the dataset uploaded" name="basicInfo"/>
    </form></li>

    #button for getting list of unique IDs
    <li><form method="POST" action="/">
        <input type="submit" value="obtaining the list of unique sequence IDs available in the dataset" name="uniqueID"/>
    </form></li>

    #button for getting list of unique Types
    <li><form method="POST" action="/">
        <input type="submit" value="obtaining the list of unique type of operations available in the dataset" name="uniqueType"/>
    </form></li>

    #button for counting source
    <li><form method="POST" action="/">
        <input type="submit" value="counting the number of features provided by the same source" name="countSource"/>
    </form></li>

    #button for counting types
    <li><form method="POST" action="/">
        <input type="submit" value="counting the number of entries for each type of operation" name="countType"/>
    </form></li>

    #button for getting a new dataset with only chromosome type
    <li><form method="POST" action="/">
        <input type="submit" value="deriving a new dataset containing only the information about entire chromosomes" name="entireChrom"/>
    </form></li>

    #button for calculating fraction of unassebled chromosomes
    <li><form method="POST" action="/">
        <input type="submit" value="calculating the fraction of unassembled sequences from source GRCh38" name="unassembledSeq"/>
    </form></li>

    #button for getting a new dataset with only source ensmbl havavna or ensmbl_havana
    <li><form method="POST" action="/">
        <input type="submit" value="obtaining a new dataset containing only entries from source ensembl , havana and ensembl_havana" name="onlyEnsmblHav"/>
    </form></li>

    #button for counting entries for ensmbl havavna or ensmbl_havana sources
    <li><form method="POST" action="/">
        <input type="submit" value="counting the number of entries for each type of operation for the dataset containing containing only entries from source ensembl , havana and ensembl_havana" name="countEnsmblHav"/>
    </form></li>

    #button for getting gene names for ensmbl havavna or ensmbl_havana douces
    <li><form method="POST" action="/">
        <input type="submit" value="returning the gene names from the dataset containing containing only entries from source ensembl ,havana and ensembl_havana" name="geneEnsmblHav"/>
    </form></li>